[submodule "muralikrishnareddy/blue_theme"]
	path = muralikrishnareddy/blue_theme
	url = git@github.com:muralikrishnareddy/blue_theme.git
	branch = master

[submodule "muk-it/muk_web"]
	path = muk-it/muk_web
	url = git@github.com:muk-it/muk_web.git
	branch = 12.0
